* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    $color_1: #333D4B;
    $color_2: #83888F;
    $color_3: #000;
    $color_4: #FEFCF7;
    $color_5: #9f9f9f;
    $color_6: white;
    $color_7: #fdd6ba;
    $color_8: #0e8784;
    $color_9: #FDD6BA;
    $color_10: rgb(0, 0, 0);
    $color_11: coral;
    $color_12: #0E8784;
    $color_13: rgba(0, 0, 0, 0.614);
    $color_14: black;
    $color_15: #FFFFFF;
    $color_16: #000000;
    $font-family_1: 'Fraunces';
    $font-family_2: Barlow;
    $font-family_3: barlow;
    $font-family_4: fraunces;
    $font-family_5: 'Fraunces 9pt';
    $font-family_6: 'Barlow';
    $background-color_1: #00b7c0;
    $background-color_2: #2C343E;
    $background-color_3: #000000;

}

